<h1>Patients and Appointments:</h1>
  <% @patients.each do |patient| %>
    <%= link_to patient, patient_path(patient) %>  
<h2>Total Number of Appointments:</h2>
    <%= patient.appointments.count %>
  <% end %>

 

